Storing strings in variables

In [1]:
name = "Jon"

In [2]:
age = 30

In [3]:
print name

Jon

In [4]:
print age

30

In [5]:
print name + age

TypeError: cannot concatenate 'str' and 'int' objects

In [6]:
print name + str(age)

Jon30

In [13]:
letter1 = "M"
letter2 = "Y"
letter3 = "N"
letter4 = "A"
letter5 = "M"
letter6 = "E"

In [16]:
start = letter1 + letter2 + " " + letter3 + letter4 + letter5 + letter6

In [18]:
print start + " IS " + name

MY NAME IS Jon

In [19]:
gas = 2.35
truck = 14

In [20]:
print gas

2.35

In [21]:
print truck

14

In [22]:
3/5

0

In [23]:
3.0 / 5.0

0.6

In [24]:
colors = ["red","blue","green","yellow","brown","orange","pink","purple","burgundy","blanchedalmond"]

In [25]:
print colors[-1]

blanchedalmond

In [26]:
len(colors)

10

In [27]:
print colors[9]

blanchedalmond

In [64]:
cars = {
    "ford":"f150",
    "volkswagen":"golf",
    "audi":["q2","a4"],
    "smart":"smartfor4",
    "bmw":"328i",
    "toyota":"corolla"
}

In [37]:
print cars["audi"][1]

a4

Loops

In [48]:
# let's loop through the colors
for color in colors:
    print color

red
blue
green
yellow
brown
orange
pink
purple
burgundy
blanchedalmond

In [51]:
# start after first item
for color in colors[1:]:
    print color

blue
green
yellow
brown
orange
pink
purple
burgundy
blanchedalmond

In [53]:
print colors[1:]

['blue', 'green', 'yellow', 'brown', 'orange', 'pink', 'purple', 'burgundy', 'blanchedalmond']

In [54]:
building = "annenberg"

In [55]:
building[0]

'a'

In [56]:
building[5:]

'berg'

In [57]:
building[:5]

'annen'

In [58]:
colors[:5]

['red', 'blue', 'green', 'yellow', 'brown']

In [59]:
for letter in building:
    print letter

a
n
n
e
n
b
e
r
g

In [68]:
# loop through cars and print
for car in cars:
    print car + " " + str(cars[car])

toyota corolla
volkswagen golf
bmw 328i
ford f150
smart smartfor4
audi ['q2', 'a4']

In [75]:
# loop through colors and print everything that's not blanchedalmond
for color in colors:
    if color is not "blanchedalmond":
        print color

red
blue
green
yellow
brown
orange
pink
purple
burgundy

In [76]:
# addition
5 + 3

8

In [78]:
# subtraction
4 - 2

2

In [79]:
# division
8 / 2

4

In [80]:
# multiplication
3 * 3

9

In [81]:
# modulo
5 % 2

1

In [82]:
8 > 2

True

In [83]:
8 > 10

False

In [84]:
truck >= 14

True

In [85]:
print truck

14

In [86]:
# is gas greater than 3?
gas > 3

False

In [87]:
print gas

2.35

In [88]:
arkgas = gas

In [89]:
calgas = 4.00

In [90]:
calgas < arkgas

False

In [92]:
first_name = "jon"

In [94]:
firstname = "jon"

In [95]:
firstName = "jon"

In [103]:
sentence = 'Jon said, "Hello."'
print sentence

Jon said, "Hello."

In [101]:
sentence2 = 'Danielle said, \'Can we do single quotes?\''
print sentence2

Danielle said, 'Can we do single quotes?'

In [106]:
sentence3 = "Jon said, \"Danielle said, 'Can we do single quotes?'\""
print sentence3

Jon said, "Danielle said, 'Can we do single quotes?'"

In [108]:
sentence4 = """
This is a line.
And another line.
And even one more line.
"""
print sentence4

This is a line.
And another line.
And even one more line.

In [109]:
# create a text file
f = open("week2test.txt","w")

In [110]:
# write a sentence to that file
f.write(sentence4)

In [111]:
# close the file
f.close()

In [130]:
# open the file for reading
f = open("week2test.txt","r")

In [134]:
f.read()

'his is a line.\nAnd another line.\nAnd even one more line.\n'

In [135]:
f.close()

In [148]:
f = open("week2test.txt","a")

In [149]:
f.write("I just added this line!\n")

In [150]:
f.close()

In [151]:
fruits = """
red
\t*strawberry
\t*cherry
\t*apple
\t*raspberry
"""

In [152]:
print fruits

red
	*strawberry
	*cherry
	*apple
	*raspberry

In [153]:
f = open("week2test.txt","a")

In [154]:
f.write(fruits)

In [155]:
f.close()

In [156]:
import csv

In [162]:
# open the assessor file
with open("assessor.csv","r") as csvfile:
    # run the file through csv reader
    assessor = csv.reader(csvfile)
    # loop through each row
    for row in assessor:
        # check if this assessor id number is in row
        if '5039-024-016' in row:
            print row

['5039-024-016', '19831116-50', 'other', 'Y', 'UNIVERSITY OF SO CALIF', '', '', 'DEE JACKSON', '3441', '', '', 'UNIVERSITY AVE', '', 'LOS ANGELES CA', '90007-3504', '620', '', '', 'MC CARTHY WAY', 'STE 5', 'LOS ANGELES CA', '90089-0155']

In [172]:
# open up usc property file
f = open("usc.txt","w")

# write header row
f.write("ain\n")

# open the assessor file
with open("assessor.csv","r") as goodfile:
    # run the file through csv reader
    assessor = csv.reader(goodfile)
    # loop through each row
    for row in assessor:
        # check if usc variations are in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or 'UNIVERSITY OF SO CALIF' in row:
            print row[0]
            f.write(row[0] + '\n')
            
# close the usc.txt file
f.close()

7480-004-007
7480-040-026
5525-030-023
5525-032-017
5039-002-029
5039-002-030
5039-002-031
5039-002-032
5039-002-033
5039-002-034
5039-003-027
5039-003-029
5039-003-030
5039-012-027
5039-012-029
5039-012-030
5039-012-031
5039-012-033
5039-019-051
5039-024-016
5055-012-019
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5122-025-006
5122-025-010
5122-025-012
5122-025-013
5123-004-403
5123-004-411
5123-004-433
5123-023-024
5123-023-025
5124-011-016
5139-029-027
2331-032-199

In [174]:
# open up usc property file
f = open("usc.html","w")

# write header row
f.write("<p><strong>ain</strong></p>\n")

# open the assessor file
with open("assessor.csv","r") as goodfile:
    # run the file through csv reader
    assessor = csv.reader(goodfile)
    # loop through each row
    for row in assessor:
        # check if usc variations are in row
        if 'UNIVERSITY OF SOUTHERN CA' in row or 'UNIVERSITY OF SO CALIF' in row:
            print row[0]
            f.write("<p>" + row[0] + '</p>')
            
# close the usc.txt file
f.close()

7480-004-007
7480-040-026
5525-030-023
5525-032-017
5039-002-029
5039-002-030
5039-002-031
5039-002-032
5039-002-033
5039-002-034
5039-003-027
5039-003-029
5039-003-030
5039-012-027
5039-012-029
5039-012-030
5039-012-031
5039-012-033
5039-019-051
5039-024-016
5055-012-019
5055-027-022
5055-029-020
5055-029-021
5122-022-002
5122-025-006
5122-025-010
5122-025-012
5122-025-013
5123-004-403
5123-004-411
5123-004-433
5123-023-024
5123-023-025
5124-011-016
5139-029-027
2331-032-199

In [6]:
# define a new function
def ladycat(time):
    if time is 'night':
        print "MEEOOWWW"
    elif time is 'day':
        print "prrrrr"
    else:
        print 'ZZZZ'

In [3]:
ladycat('night')

MEEOOWWW

In [4]:
ladycat("day")

prrrrr

In [7]:
ladycat("march")